* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.buttons-list {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    gap: 16px;
    justify-content: center;
}

.buttons-list-item {}

.history {}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-list-item {}

.history-title {}

.history-paragraph {}